.closeTab {
    background-color: var(--main-color);
    position: fixed;
    top: 20px;
    left: -110%;
    height: auto;
    width: 100%;
    border-style: solid;
    border-color: var(--light-color);
    border-radius: 10px;
    pointer-events: none;
    z-index: 99;
    transition: all;
    transition-duration: 0.5s;
}

.openTab {
    background-color: var(--main-color);
    padding: 5px;
    height: auto;
    max-height: 90%;
    border-style: solid;
    border-color: var(--light-color);
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 5%;
    width: 90%;
    pointer-events: all;
    transition: all;
    transition-duration: 0.5s;
    overflow-y: auto;
}

.editTableDiv {
    width: auto;
    display: flex;
}

.editTableDiv table {
    margin: 10px;
    height: max-content;
}

.showTableDiv {
    width: auto;
    background-color: var(--light-color);
    border-radius: 5px;
}

.showTableDiv table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.showTableDiv tr:nth-child(even) {
    background-color: var(--secondary-light-color);
    transition: all;
    transition-duration: 0.5s;
}

.showTableDiv td, th {
    padding: 10px;
}

.showTableDiv th {
    background-color: var(--main-color);
}