
.registerToEventDiv {
    position: absolute;
    top: 110%;
    z-index: 150;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
}

@keyframes comeRegisterToEvent {
    0% {top: 110%}
    100% {top: 0%}
}

@keyframes closeRegisterToEvent {
    0% {top: 0%}
    100% {top: 110%}
}

.regEvDiv {
    display: flex;
    height: 90%;
    max-height: 90%;
}

.infoDiv {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--light-color);
    width: 20%;

    transition: all;
    transition-duration: 0.5s;
}

.contents {
    position: relative;
    top: 5px;
    left: 5px;
    margin-bottom: 10px;
}

.contents .regTabButtonChosen {
    background-color: var(--main-color);
}

.flightDiv {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--lighter-color);
    width: 75%;
    height: 100%;

    transition: all;
    transition-duration: 0.5s;
}

.flightDiv table {
    position: relative;
    border-collapse: collapse;
    border-right-style: solid;
    border-right: 1px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    transition: height 0.5s;
}

.flightDiv td {
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    transition: all;
    transition-duration: 0.5s;
}

.flightDiv th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.flightDiv tr:nth-child(even) {
    background-color: var(--secondary-light-color);
    transition: all;
    transition-duration: 0.5s;
}

.hideLabel {
    position: absolute;
    left: 18%;
    top: 50%;
}