
.pendingBadge, .checkedBadge, .registeredBadge, .needVisa {
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.pendingBadge {
    background-color: var(--pending);
}

.checkedBadge {
    background-color: var(--checked);
}

.registeredBadge {
    background-color: var(--registered);
}

.needVisa {
    background-color: var(--need-visa);
}