.regEvTablesDiv {
    position: relative;
    overflow-y: auto;
    height: 90%;
    scroll-behavior: smooth;
}

.regEvTablesDiv table {
    height: max-content;
}

.accDiv {
    display: flex;
    height: 99%;
}

.accPeopleDiv {
    width: 20%;
    height: inherit;
    overflow-y: auto;
}

.accRoomDiv {
    display: grid;
    border: solid;
    border-color: var(--main-color);
    width: 80%;
    height: inherit;
    overflow-x: auto;
}

.accRoomRoomDiv {
    height: 100px;
    width: 150px;
    margin: 5px;
    background-color: var(--main-color);
}

.accRoomRoomDiv table {
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: smaller;
}

.accRoomRoomDiv .removeFromBed {
    position: absolute;
    right: 1px;
}

.accRoomRoomDiv td, tr {
    padding: 0;
    margin: 0;
}

.accRoomRoomDiv .missing {
    color: var(--wrong-light-color);
}

.arrDiv {
    border: solid;
    border-color: var(--main-color);
    width: 80%;
    height: inherit;
    overflow-y: auto;
}

.arrDivCls, .depDivCls {
    min-height: 50px;
    min-width: 95%;
}

.arrDivCls, .depDivCls div {
    margin-left: 5px;
    margin-top: 3px;
    width: max-content;
}