/*scroll*/

/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}